jupyterlab
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
statsmodels
torch
torch_geometric
tensorflow
keras
keras-cv
keras-hub
networkx
nbdime
beautifulsoup4
requests
scrapy
xgboost
opencv-python
nltk
spacy
pytest
Cython
arviz
pymc
